<h1>Login</h1>
<form action="/login" method="post">
    <label>Email: </label>
    <input type="email" name="email">
    <label>Password: </label>
    <input type="password" name="password">
    <br>
    <br>
    <button type="submit">Login</button>
    <a href="/auth/facebook">Login With Facebook</a>
    <a href="/auth/google">Login With Google</a>
    <br>
    <br>
    <span>Don't have an account? </span><a href="/signup">Sign Up</a>

</form>